<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="Stylesheet" type="text/css" href="%root_path%%css%">
<title>%title%</title>
<meta http-equiv="Content-Type" content="text/html; charset=%encoding%">
</head>
<body>
  <div style="position:absolute;top:10;right:0">
    <span class="justleft"><font size="2"><strong>This page was last modified on %changetime%,&nbsp;&nbsp;Powered by <a href="http://code.google.com/p/vimwiki/"><font size="5">vimwiki</font></a>.</strong>&nbsp;&nbsp;</font></span>
  </div>
  <!-- SiteSearch Google -->
  <form method="get" action="http://www.google.com/search" class="justleft">
    <div style="background-color:white">
      <input type="text" size="30" maxlength="255"/>
      <input type="submit" value="Google" />
    </div>
   </form>
   <!-- SiteSearch Google -->
%content%
</body>
</html>
